<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
  </head>
  <body>
    <nav>
    <a href="{{ site.baseurl }}/">Home</a> |
    <a href="{{ '/about.html' | relative_url }}">About</a>
    <a href="{{ site.baseurl }}/projects.html">Projects</a> |
    <a href="{{ site.baseurl }}/resume.html">Resume</a> |
    <a href="{{ site.baseurl }}/contact.html">Contact</a>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
